In [52]:
import pandas as pd
import os

In [14]:
### read in our csv
election_df = pd.read_csv(r"C:\Users\nnoar\OneDrive\Desktop\python-challenge\PyPoll\Resources\election_data.csv")
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [15]:
election_results = election_df["Candidate"].value_counts()
election_results

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [30]:
results_df = pd.DataFrame(data=election_results)
results_df
##REname the columns
results_df = results_df.rename(columns={0: "Candidates","Candidate":"Votes"})
results_df = results_df.reset_index()
results_df = results_df.rename(columns={"index":"Candidates"})
results_df

  Candidates    Votes
0       Khan  2218231
1     Correy   704200
2         Li   492940
3   O'Tooley   105630

In [44]:
#Add the percentages to our new dataframe
total_votes = results_df['Votes'].sum()
total_votes
vote_percentage = round((results_df['Votes']/total_votes) * 100,2)
results_df['Vote Percentage'] =vote_percentage
results_df
results_df.iloc[0,1]

2218231

In [51]:
###Print our results
print('Election Results')
print('-----------------------------')
print('Total Votes: ' + str(total_votes))
print('-----------------------------')
print(str(results_df.iloc[0,0]) + ': ' + str(results_df.iloc[0,2]) + '% ' + '(' + str(results_df.iloc[0,1]) + ')' )
print(str(results_df.iloc[1,0])+ ': ' + str(results_df.iloc[1,2]) + '% ' + '(' + str(results_df.iloc[1,1]) + ')')
print(str(results_df.iloc[2,0]) + ': ' + str(results_df.iloc[2,2]) + '% ' + '(' + str(results_df.iloc[2,1]) + ')')
print(str(results_df.iloc[3,0]) + ': ' + str(results_df.iloc[3,2]) + '% ' + '(' + str(results_df.iloc[3,1]) + ')')
print('-------------------------------')
print('Winner: ' + str(results_df.iloc[0,0]))

Election Results
-----------------------------
Total Votes: 3521001
-----------------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)
-------------------------------
Winner: Khan

In [57]:
#Create a text file
analysis_txt = os.path.join(r"C:\Users\nnoar\OneDrive\Desktop\python-challenge\PyPoll\Analysis\analysis.txt")
with open('analysis.txt', 'w') as text:
    text.write('Election Results')
    text.write('-----------------------------\n')
    text.write('Total Votes: ' + str(total_votes) + '\n')
    text.write('-----------------------------')
    text.write(str(results_df.iloc[0,0]) + ': ' + str(results_df.iloc[0,2]) + '% ' + '(' + str(results_df.iloc[0,1]) + ')' + '\n' )
    text.write(str(results_df.iloc[1,0])+ ': ' + str(results_df.iloc[1,2]) + '% ' + '(' + str(results_df.iloc[1,1]) + ')' + '\n')
    text.write(str(results_df.iloc[2,0]) + ': ' + str(results_df.iloc[2,2]) + '% ' + '(' + str(results_df.iloc[2,1]) + ')' + '\n')
    text.write(str(results_df.iloc[3,0]) + ': ' + str(results_df.iloc[3,2]) + '% ' + '(' + str(results_df.iloc[3,1]) + ')' + '\n')
    text.write('-------------------------------\n')
    text.write('Winner: ' + str(results_df.iloc[0,0]))